*{
    margin: 0;
    padding: 0;
}

.error-message{
    color: red;
}

.header{
    min-height: 10vh;
    text-align: center;
    background-color: #006cb0;
    color:white;
    
}
.title
{
    padding-top: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    
}

.dashboard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-skills{
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.section-projects{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: center;
    padding-top: 4vh;
}
.section-resume{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grid-item{
    text-align: center;
    border: 0 0 0 1px solid rgba(0, 0, 0, 0.8);
}

.project-items
{
    display: grid;
    grid-template-columns: min-content;
    
}

.staff-app
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-flex{
    display: flex;
    flex-direction: row;
}

.btn{
width :10%;
background-color: #006cb0;
border-radius: 12px;
color: white;
font-family: ui-monospace;
border-color: white;
height: 30px;
}
.select{
    width: 25%;
}

.span{
 font-family: ui-monospace;   
}

.section-current{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    padding-top: 3vh;

}