*{
    margin: 0;
    padding: 0;
}

.error-message{
    color: red;
}

.header{
    min-height: 10vh;
    text-align: center;
    background-color: #006cb0;
    color:white;
    
}
.title
{
    padding-top: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    
}

.dashboard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-skills{
padding: 2vh;
}

.section-projects{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: center;
    padding-top: 2vh;
}


.section-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-grid .item {
    flex: 1;
  }

.staff-app
{
    display: flex;
    flex-direction: column;
}

.section-row{
    display: flex;
    flex-direction: row;
    padding:8px;
}

.item{
    margin :10px;
}
.btn{
background-color: #006cb0;
border-radius: 12px;
color: white;
font-family: ui-monospace;
border-color: white;
height: 30px;

}
.select{
    width: 25%;
    margin :8px;
    
}

.span {
 font-family: ui-monospace;   
 margin :10px;
 padding:10px;
}

.section-current{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    padding-top: 3vh;

}
.btnWidth{
    width: 10%;
}

.login
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    height: 70vh;
}