*{
    margin: 0;
    padding: 0;
}

.error-message{
    color: red;
}

.header{
    min-height: 10vh;
    text-align: center;
    background-color: #006cb0;
    color:white;
    
}
.title
{
    padding-top: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
    
}

.dashboard
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-skills{
    display: flex;
    flex-direction: row;
}

.section-projects{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: center;
}
.section-resume{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grid-item{
    text-align: center;
    border: 0 0 0 1px solid rgba(0, 0, 0, 0.8);
}